<ul>
    <li *ngFor= "let order of orders">
        <h3>1{{order.OrderId}}</h3>
        <p>{{order.DeliveryAddress.Name}}</p>
        <p>{{order.DeliveryAddress.Address1}} {{order.DeliveryAddress.Address2}} {{order.DeliveryAddress.Suburb}} {{order.DeliveryAddress.State}} {{order.DeliveryAddress.PostCode}}</p>
        <p *ngFor="let orderLine of order.OrderLines">
            <span>{{orderLine.ProductCode}}</span>
            <br>
            <span>{{orderLine.Description}}</span>
            <br>
            <span>{{orderLine.Warehouse}}</span>
            <br>
            <span>{{orderLine.ApprovedDate}}</span>
        </p>
    </li>
</ul>

